### Intellij ###
.idea/**
/apps/**/charts/**

.gemini/
gha-creds-*.json

### OpenTofu / Terraform ###
**/.terraform/
**/.tofu/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
*.tfplan
_output/
