machine:
  certSANs:
    - ${cluster_vip}
    - kube.kerrlab.app
    - ${node_ip}
    - ${hostname}
    - ${hostname}.kube.kerrlab.app
  network:
    interfaces:
      - interface: bond0
        addresses:
          - ${node_ip}/24
          - ${ipv6}/64
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.1.1
          - network: ::/0
            gateway: fe80::1e0b:8bff:fe10:cb2b
        bond:
          mode: active-backup
          interfaces: []
          deviceSelectors:
%{ for mac in macs ~}
            - hardwareAddr: ${mac}
              driver: ${driver}
%{ endfor ~}
        vlans:
          - vlanId: 2
            addresses:
              - ${vlan2_ip}/24
              - fd00:2:244::${element(split(".", node_ip), 3)}/64
            routes: []
            dhcp: false
            mtu: 1500
        mtu: 1500
        dhcp: false
        vip:
          ip: ${cluster_vip}
    nameservers:
      - 10.10.1.1
  install:
    disk: ${install_disk}
    image: ${installer_image}
    extraKernelArgs:
      - intel_idle.max_cstate=0
      - intel_iommu=on
      - iommu=pt
      - cpufreq.default_governor=performance
      - nvme_core.io_timeout=255
      - nvme_core.default_ps_max_latency_us=0
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    node.kubernetes.io/exclude-from-external-load-balancers: ""

cluster:
  allowSchedulingOnControlPlanes: true
  apiServer:
    image: registry.k8s.io/kube-apiserver:${kubernetes_version}
    extraArgs:
      feature-gates: DynamicResourceAllocation=true
    certSANs:
      - ${cluster_vip}
      - kube.kerrlab.app
    disablePodSecurityPolicy: true
    admissionControl:
      - name: PodSecurity
        configuration:
          apiVersion: pod-security.admission.config.k8s.io/v1alpha1
          kind: PodSecurityConfiguration
          defaults:
            audit: restricted
            audit-version: latest
            enforce: baseline
            enforce-version: latest
            warn: restricted
            warn-version: latest
          exemptions:
            namespaces:
              - traefik
              - longhorn-system
              - synology-csi
              - tailscale
              - inteldeviceplugins-system
              - node-feature-discovery
              - monitoring
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:${kubernetes_version}
    extraArgs:
      bind-address: 0.0.0.0
  scheduler:
    image: registry.k8s.io/kube-scheduler:${kubernetes_version}
    extraArgs:
      bind-address: 0.0.0.0
      feature-gates: DynamicResourceAllocation=true
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
